body{
    background-color: cornflowerblue;
}

.my-container {
    margin-top: 175px;
       
    width:610px;  
}

.icon{
    color:white;
    margin-left:265px;
}

.Welcome{
    color: white;
    margin-left:150px;
}



.my-container1{
    border:1px white solid;
    background-color: white;
    height:285px;
    width: 610px;
    
    

}

.Login {
    
    margin-top: 55px;

}


.my-container2{
    display: flex;
    width: 650px;
  
}

.forgot-1{
    color:white;
    
}

.Get-Started{
    color:white;
 
}


